@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="color: @ViewData["textColor"]">@ViewData["WelcomeText"] </h1>
    <p>Wir sind live!</p>
</div>
