@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welche Umgebung ist das? Folgende Farbe wurde konfiguriert: @ViewData["bgColor"] </h1>
    <p>Hallo WD!</p>
</div>
